<nav>      
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a routerLink="/home">Home</a></li>
      
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a routerLink="/dashboard">Dashboard</a></li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a routerLink="/login">Login</a></li>
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a routerLink="/profile">Profile</a></li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a routerLink="/register">Register</a></li>
      <li *ngIf="authService.loggedIn()"><a (click)='onLogout()' href='#'> Log out </a></li>
</nav>
