<div class="card-deck mb-3">

    <div class="card" *ngFor="let user of users" >
      <span>
      <div> name: {{user.name}}</div>
      <div> username:    {{ user.username }} </div>
      <div> email:       {{ user.email }} </div></span>
      <div> admin:       {{user.admin}} </div>
      <span><button (click)='this.deleteUser(user)'> Delete this user</button>
      <button (click)='this.adminUser(user)'> Make this user admin</button>
      <button (click)='this.showBills(user)'> Show this user's bills</button></span>
      
      </div>
  <button (click)='this.showAllBills(user)'> Show all bills</button>
</div>

<!-- on réécrit le code au lieu d'appeler le component userbills car
celui-ci nécessite l'authentification du bon user-->

  <div *ngIf="modebills">
 
  {{this.user.name}}'s {{this.lenght(this.bills)}} bills
  <div class="card-group" *ngIf="bills">
      
      <div class="card" *ngFor="let bill of bills" >
        <span>
        <div> date:  {{this.stringify(bill.date).slice(9,11)}}/{{this.stringify(bill.date).slice(6,8)}}/{{this.stringify(bill.date).slice(3,5)}} </div> 
        <div> description:    {{ bill.description }} </div>
        <div> price:           {{ bill.value }} </div></span>
        </div>
      </div>
    <button (click)='this.hideBills(user)'> Hide this user's bills</button>
  </div>

  <div *ngIf="modeallbills">
      <div class="card-group" *ngIf="allbills">
      
          <div class="card" *ngFor="let bill of allbills" >
            <span>
            <div> date:  {{this.stringify(bill[0].date).slice(9,11)}}/{{this.stringify(bill[0].date).slice(6,8)}}/{{this.stringify(bill[0].date).slice(3,5)}} </div> 
            <div> description:    {{ bill[0].description }} </div>
            <div> price:           {{ bill[0].value }} </div>
            <div> user: {{bill[1].name}} </div></span>

            </div>
        </div>
        <button (click)='this.hideAllBills()'> Hide all bills</button>

  </div>
